{% extends "layout.html" %}
{% block body%}
<h3>Hakkımızda</h3>
<hr>
<p>

Python,Tutorial,Dersleri,Eğitim,Seti,Yazılım Bilimi,Programlama,Yazılım,Temel,Input Alma,Koşullu Durumlar,Mustafa Murat Coşkun,While Döngüsü,For Döngüsü,Dosyalar,Continue,Object Oriented Programlama,Değişkenler,programlama dilleri,programlama temelleri,programlama dili,programlama nedir,programlama nasıl yapılır,programlama algoritma,python 3,python nedir,python 3.6 dersleri,python yapay zeka, python tutorial,python dersleri,python programming
<hr>

</p>
{% endblock body%}